@tailwind base;
@tailwind components;
@tailwind utilities;

.btn_login{
    @apply hover:hover:bg-usea_primary hover:text-white text-usea_primary border text-sm font-semibold sm:text-base border-usea_primary px-4 py-2 rounded cursor-pointer transition ease-in-out duration-300;
}
.menu{
    @apply hover:text-active_color flex border border-black rounded-lg text-usea_primary items-center text-left mt-2 py-2 px-3 cursor-pointer transition ease-in duration-300;
}
.footer_link{
    @apply hover:text-active_color text-usea_primary cursor-pointer transition ease-in duration-300;
}
.text_menu{
    @apply hover:text-active_color flex text-usea_primary items-center text-left mt-2 p-2 cursor-default transition ease-in duration-300;
}

.router-link-active{
    @apply text-active_color;
}

.content{
    @apply bg-usea_primary text-white px-5 mt-3 md:px-2;
}
.card_button{
    @apply text-usea_primary px-3 py-1 border-2 border-usea_primary rounded-lg mr-3 mt-2 hover:bg-usea_primary hover:text-white transition-all duration-300 ease-in-out;
}
.slide_button{
    @apply text-white px-3 py-1 border-2 border-usea_primary rounded-lg mr-3 mt-2 hover:bg-usea_primary hover:text-white transition-all duration-300 ease-in-out;
}

.Footer_mt-3{
    @apply mt-3;
}

/* padding */
.padding_x-2{
    @apply px-2;
}
.padding_x-3{
    @apply px-3;
}

@font-face {
    font-family: 'hanuman';
    src: url('./assets/fonts/Hanuman.ttf') format('ttf');
}

@font-face {
    font-family: "Khmer_OS_Muol_Light";
    src: url("https://db.onlinewebfonts.com/t/079fe5217b2c7dac6ba6e22f6a3c5ccc.eot");
    src: url("https://db.onlinewebfonts.com/t/079fe5217b2c7dac6ba6e22f6a3c5ccc.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/079fe5217b2c7dac6ba6e22f6a3c5ccc.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/079fe5217b2c7dac6ba6e22f6a3c5ccc.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/079fe5217b2c7dac6ba6e22f6a3c5ccc.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/079fe5217b2c7dac6ba6e22f6a3c5ccc.svg#Khmer OS Muol Light")format("svg");
}

@font-face {
    font-family: "Khmer_OS_Battambang";
    src: url("https://db.onlinewebfonts.com/t/5fe1966782f6a72ba54dcbbdab764cd1.eot");
    src: url("https://db.onlinewebfonts.com/t/5fe1966782f6a72ba54dcbbdab764cd1.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/5fe1966782f6a72ba54dcbbdab764cd1.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/5fe1966782f6a72ba54dcbbdab764cd1.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/5fe1966782f6a72ba54dcbbdab764cd1.ttf")format("truetype"),
}